.card
  .card-body
    %h3 Resultados de la busqueda
    %table.table.table-hover
      %thead
        %tr
          %th
            N° garantía
          %th
            Ingreso
          %th
            Vencimiento
          %th
            Devolución
          %th
            Detalle
          %th
            Analista
          %th
            Valor
          %th
            BIP
          %th(colspan="2")
            Opciones
      %tbody
        - @guarantees.each do |guarantee|
          %tr
            %td= guarantee.guarantee_number.try(:round)
            %td= guarantee.income_date.strftime("%d/%m/%y")
            %td= guarantee.due_date.strftime("%d/%m/%y")
            %td= guarantee.devolution_date.try(:strftime, "%d/%m/%y")
            %td= guarantee.detail
            %td= guarantee.sectorialist_devolution
            %td= number_to_currency(guarantee.value_guarantee, :unit => "$", :precision => 0, format: "%u %n")
            %td= guarantee.bip.to_i
            %td= link_to 'Ver detalles', edit_guarantee_path(guarantee), class: 'btn btn-outline-secondary btn-sm'
